body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    border: 1px solid red;
    min-height: 50px;
    padding: 20px;
    border-color: purple
}

.box button {
    border: rgba(25, 25, 25, 0.589);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

header {
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: plum;
    color: white;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    flex: : 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid  #FF69B4;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.product img {
    height: 200px; /* Set a fixed height for the images */
    width: auto; /* Maintain aspect ratio */

}

footer {
    background-color: #ef8eab;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    width: 100%;
}